* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(30, 30, 30, 0.5);
    border-bottom: 1px solid rgba(0, 200, 250, .80);
    color: rgba(200, 200, 200, 1.0);
    /* color: rgba(0, 200, 250, .80); */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    border-color: rgba(0, 200, 250, .80);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px rgba(0, 200, 250, .80);
}

#workspaces button {
    padding: 0 5px;
    background-color: rgba(60, 60, 60, 0.5);
    color: #cccccc;
}

#workspaces button:hover {
    background: rgba(0, 250, 200, 0.2);
    color: rgba(0,0,0,0);
    box-shadow: inset 0 -3px rgba(0, 250, 200, 0.7);
}

#workspaces button.active,
#taskbar button.active {
    /* background: rgba(0, 200, 250, 0.2); */
    box-shadow: inset 0 3px rgba(0, 200, 250, 0.8);
    background-color:  rgba(0, 200, 250, .20);

}

#workspaces button.urgent {
    background-color: rgba(250, 0, 80, 0.7);
}

#mode {
    background-color: rgba(0, 200, 250, 0.8);
    border-bottom: 3px solid #ffffff;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#taskbar button:hover,
#bluetooth:hover,
#mpd:hover {
    padding: 0 10px;
    color: #ffffff;
    box-shadow: inset 0 -3px rgba(0, 250, 200, 0.7);
}


#clock,
#window,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#scratchpad,
#taskbar button,
#bluetooth,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.5);
    box-shadow: inset 0 1px rgba(0, 250, 200, 0.7);
}


#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: rgba(0, 200, 250, .50);
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(250, 0, 80, 0.7);
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    box-shadow: inset 0 -3px rgba(250, 0, 80, 0.7);
}


#temperature.critical {
    box-shadow: inset 0 -3px rgba(250, 0, 80, 0.7);
}

#tray {
    background-color: rgba(0, 80, 160, 0.7);
    box-shadow: inset 0 -1px rgba(0, 200, 250, 0.7);
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: rgba(0, 160, 80, 0.7);
    box-shadow: inset 0 -3px rgba(0, 250, 200, 0.7);
}

#tray > .active {
    -gtk-icon-effect: dim;
    background-color: rgba(0, 80, 160, 0.7);
    box-shadow: inset 0 -3px rgba(0, 200, 250, 0.7);
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    box-shadow: inset 0 -3px rgba(250, 0, 80, 0.7);
}

#idle_inhibitor.activated {
    background-color:  rgba(0, 250, 200, .20);
    /* color: #2d3436; */
    box-shadow: inset 0 -3px rgba(0, 250, 200, 0.7);
}


#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}


#scratchpad.empty {
	background-color: transparent;
}


#bluetooth.disabled {
    /* background-color: rgba(250, 200, 0, 0.7); */
}

#bluetooth.off {
    background-color: rgba(250, 0, 80, 0.7);
}

#bluetooth.connected {
    background-color: rgba(0, 80, 160, 0.7);
}

#bluetooth.discroverable {
    box-shadow: inset 0 -3px rgba(0, 250, 200, 0.7);
}

#bluetooth.pairable {
    box-shadow: inset 0 -3px rgba(0, 200, 250, 0.7);
}

#bluetooth.discovering {
    box-shadow: inset 0 -3px rgba(250, 200, 0, 0.7);
}


#pulseaudio {
    box-shadow: inset 0 -3px rgba(0, 250, 200, 0.7);
}

#pulseaudio.bluetooth {
    background-color: rgba(0, 80, 160, 0.7);
    box-shadow: inset 0 -3px rgba(0, 200, 250, 0.7);
}
#pulseaudio.muted {
    box-shadow: inset 0 -3px rgba(250, 200, 0, 0.7);
}
#pulseaudio.source-muted {
    box-shadow: inset 0 -3px rgba(250, 0, 80, 0.7);
}

#clock {
    box-shadow: inset 0 +3px rgba(250, 0, 80, 0.7);
}

#window {
    box-shadow: inset 0 -3px rgba(0, 200, 250, 0.7);
}
